
workspace/.metadata/.log

workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap

workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap

workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

workspace/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap

workspace/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

workspace/.metadata/.plugins/org.eclipse.core.resources/.snap

workspace/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs

workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

workspace/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

workspace/VS_glukas_AntiTheft/bin/VS_glukas_AntiTheft.apk
